/gremlin
*~
*.bak
/tupl-loader/gradle
/neo4j-loader/gradle
/loader/gradle
/examples
/umd
/elasticsearch-1.5.1
/g/metrics
/g/log
/g/data
hanji.json
/text
/text.zip
.DS_Store
.idea
/bin/ibmcred.py
.gradle
build
hanji-loader/gradle
/python/ibm.py
/server
/console
/tupl
